<div id="<%= dom_id influencer %>">
  <p>
    <strong>Name:</strong>
    <%= influencer.name %>
  </p>

  <p>
    <strong>Ac compte:</strong>
    <%= influencer.ac_compte %>
  </p>

  <p>
    <strong>Ac cdiposit:</strong>
    <%= influencer.ac_cdiposit %>
  </p>

  <p>
    <strong>Ac curt:</strong>
    <%= influencer.ac_curt %>
  </p>

  <p>
    <strong>Ac llarg:</strong>
    <%= influencer.ac_llarg %>
  </p>

  <p>
    <strong>Ac deute:</strong>
    <%= influencer.ac_deute %>
  </p>

  <p>
    <strong>Ac jubil:</strong>
    <%= influencer.ac_jubil %>
  </p>

</div>
