<div id="<%= dom_id objective %>">
  <p>
    <strong>User:</strong>
    <%= objective.user_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= objective.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= objective.description %>
  </p>

  <p>
    <strong>Target amount:</strong>
    <%= objective.target_amount %>
  </p>

  <p>
    <strong>Target date:</strong>
    <%= objective.target_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= objective.status %>
  </p>

</div>
