<div id="<%= dom_id balance %>">
  <p>
    <strong>User:</strong>
    <%= balance.user_id %>
  </p>

  <p>
    <strong>Valor inmuebles:</strong>
    <%= balance.valor_inmuebles %>
  </p>

  <p>
    <strong>Dinero cuenta corriente:</strong>
    <%= balance.dinero_cuenta_corriente %>
  </p>

  <p>
    <strong>Dinero cuenta ahorro depos:</strong>
    <%= balance.dinero_cuenta_ahorro_depos %>
  </p>

  <p>
    <strong>Dinero inversiones f:</strong>
    <%= balance.dinero_inversiones_f %>
  </p>

  <p>
    <strong>Dinero planes pensiones:</strong>
    <%= balance.dinero_planes_pensiones %>
  </p>

  <p>
    <strong>Valor coches vehiculos:</strong>
    <%= balance.valor_coches_vehiculos %>
  </p>

  <p>
    <strong>Valor otros activos:</strong>
    <%= balance.valor_otros_activos %>
  </p>

  <p>
    <strong>Hipoteca inmuebles:</strong>
    <%= balance.hipoteca_inmuebles %>
  </p>

  <p>
    <strong>Deuda tarjeta credito:</strong>
    <%= balance.deuda_tarjeta_credito %>
  </p>

  <p>
    <strong>Prestamos personales:</strong>
    <%= balance.prestamos_personales %>
  </p>

  <p>
    <strong>Prestamos coches:</strong>
    <%= balance.prestamos_coches %>
  </p>

  <p>
    <strong>Otras deudas:</strong>
    <%= balance.otras_deudas %>
  </p>

</div>
