<%= render 'onboarding/step_layout',
    step_number: @step_number,
    total_steps: @total_steps,
    progress: @progress,
    title: t('onboarding.steps.gastos.title'),
    subtitle: t('onboarding.steps.gastos.subtitle') do %>

  <%= form_tag onboarding_step_path(step_name: 'gastos'), method: :post, class: 'onboarding-form' do %>
    <%= hidden_field_tag :from, @from %>
    <div class="onboarding-input-group">
      <div class="onboarding-input-wrap onboarding-input-wrap--euro">
        <span class="onboarding-input-wrap__prefix">EUR</span>
        <%= number_field_tag :value, @value, class: 'onboarding-input', placeholder: '1.800', min: 0, step: 50, inputmode: 'numeric', autofocus: true %>
      </div>
      <span class="onboarding-input-hint"><%= t('onboarding.steps.gastos.hint') %></span>
    </div>
    <button type="submit" class="btn-app btn-app--primary btn-app--block onboarding-submit">
      <%= t('onboarding.next') %>
    </button>
  <% end %>

<% end %>
