<div id="<%= dom_id pyg %>">
  <p>
    <strong>User:</strong>
    <%= pyg.user_id %>
  </p>

  <p>
    <strong>Ingresos mensual:</strong>
    <%= pyg.ingresos_mensual %>
  </p>

  <p>
    <strong>Gasto compra:</strong>
    <%= pyg.gasto_compra %>
  </p>

  <p>
    <strong>Alquiler hipoteca:</strong>
    <%= pyg.alquiler_hipoteca %>
  </p>

  <p>
    <strong>Gastos utilities:</strong>
    <%= pyg.gastos_utilities %>
  </p>

  <p>
    <strong>Gastos seguros:</strong>
    <%= pyg.gastos_seguros %>
  </p>

  <p>
    <strong>Gastos transporte:</strong>
    <%= pyg.gastos_transporte %>
  </p>

  <p>
    <strong>Restaurantes y ocio:</strong>
    <%= pyg.restaurantes_y_ocio %>
  </p>

  <p>
    <strong>Cuota hipoteca:</strong>
    <%= pyg.cuota_hipoteca %>
  </p>

  <p>
    <strong>Cuota coche:</strong>
    <%= pyg.cuota_coche %>
  </p>

  <p>
    <strong>Otras cuotas:</strong>
    <%= pyg.otras_cuotas %>
  </p>

  <p>
    <strong>Suscripciones:</strong>
    <%= pyg.suscripciones %>
  </p>

  <p>
    <strong>Cuidado personal:</strong>
    <%= pyg.cuidado_personal %>
  </p>

  <p>
    <strong>Otros gastos:</strong>
    <%= pyg.otros_gastos %>
  </p>

</div>
